* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fafaf9;
    background: #292524;
    font-size: 16px;
    line-height: 1.5;
    padding: 48px 64px;
}

a {
    color: #0c0a09;
    text-decoration: none;
}

h1 {
    color: #fafaf9;
    font-size: 48px;
    font-weight: 400;
    font-family: "Bitter", "Oswald", sans-serif;
}

span {
    font-size: 18px;
    margin: 0 0 14px;
    padding: 0;
    font-family: "Inter", sans-serif;
}

ul {
    list-style: none;
}

.btn {
    background-color: #097b3e;
    color: #fafaf9;
    background-image: linear-gradient(180deg, #097b3e 0%, #0c0a09 100%);
    border: none;
    border-radius: 8px;
    padding: 16px 0 13px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05) rotate(1deg);
}

.btn-all {
    padding: 16px 32px 13px;
    font-size: 24px;
    width: 100%;
}

.btn-category {
    padding: 16px 32px 13px;
    font-size: 24px;
    width: 100%;
    background-image: none;
}

.btn-large {
    padding: 20px 32px 17px;
    font-size: 28px;
}

.btn-open {
    padding: 20px 32px 17px;
    font-size: 28px;
}

.category {
    margin-bottom: 16px;

    /* Flexbox */
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.fact {
    background-color: #57534e;
    color: #d6d3d1;
    border: 4px solid #333;
    border-radius: 8px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 16px;
    padding: 16px 24px;
    letter-spacing: -1px;

    /* Flexbox */
    display: flex;
    align-items: center;
    gap: 24px;

}

.fact-form {
    background-color: #57534e;
    margin-bottom: 40px;
    padding: 16px 32px;
    text-align: center;
    border-radius: 8px;

    /* Flexbox */
    display: flex;
    align-items: center;
    gap: 16px;
}


.fact-form input,
.fact-form select {
    background-color: #78716c;
    border: none;
    border-radius: 16px;
    padding: 16px;
    font-size: 18px;
    color: inherit;
    font-family: inherit;
    width: 220px;
}

.fact-form input:first-child {
    flex-grow: 1;
},

.fact-form input::placeholder {
    color: #a8a29e
}

.fact-form input:focus {
    outline: none;
}

.fact-form span {
    font-size: 18px;
    font-family: "Bitter", sans-serif;
    font-weight: 700;
    margin-right: 18px;
}

.fact-list {

}

.header {
    margin: 1fr 2fr;
    margin-bottom: 40px;
    
    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 68px;
    height: 68px;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 0 2fr;
    gap: 50px;
}

.reactions {
    margin-left: auto;

    /* Flexbox */
    flex-shrink: 0;
    display: flex;
    gap: 8px;
}

.reactions button {
    background-color: #78716c;
    border: none;
    font-size: 18px;
    color: inherit;
    font-family: inherit;
    border-radius: 100px;
    padding: 6px 12px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.reactions button:hover {
    background-color: #292524;
}

.srclink:link,
.srclink:visited {
    color: #a8a29e;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.3s;
}

.srclink:hover,
.srclink:active {
    color: #ff0000;
}

.tag {
    font-size: 18px;
    font-family: "Bitter", sans-serif;
    padding: 3px 6px;
}

@media (max-width: 900px) {
    body {
        padding: 32px 24px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .header {
        margin: 0 1fr;
    }

    .logo {
        margin-bottom: 24px;
    }

    .reactions {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    body {
        padding: 32px 48px;
    }

    .fact-form {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }
    .fact-form input,
    .fact-form select {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .fact {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

